* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header-title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.user-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .user-card-container {
    flex-direction: column;
  }

  .user-card, .company, .address {
    width: 100%;
    border-bottom: 1px solid white;
  }
  
}

